/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid 
@import "partials/grid";

// the base
@import "partials/base";

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

/* VARS ==============*/

$dala: "dala floda";
$ssp: "source sans pro";
$pt: "PT Serif";
$black: rgba(51,51,51,1);
$white: rgba(250,250,250,1);


/*FONTS=========*/

@include font-face("dala floda", font-files("Dala Floda-Roman.otf", "Dala Floda-Italic.otf"));
@include font-face("source sans pro", font-files("SourceSansPro-Regular.otf"));
@include font-face("PT Serif", font-files("PT_Serif-Web-Regular.ttf", "PT_Serif-Web-BoldItalic.ttf", "PT_Serif-Web-Italic.ttf", "PT_Serif-Web-Bold.ttf"));

/* MIXINSSSSS=================*/

@mixin stretchy($space) {
		&:hover{
				color:$black;
				text-decoration: none;
				letter-spacing:$space;
				opacity:0.8;
			}
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*GENERAL */

body, .container, div{
	background-color:$white !important;
	-ms-overflow-style: none;
}

::-webkit-scrollbar { 
    display: none; 
}

#content{
	margin-top:0;
}

a:visited{
	text-decoration: none;
}

a:active{
	text-decoration: none;
}

a:focus{
	outline:none !important;
}


/* --------------------- QUI SOM ------------*/
.skrollr-body div{
	position:relative;
}

.titulo-2{
	padding-right:3%;
}

.tit{
	font-family:$dala;
	font-size:80px;
}


.title-2{
	padding-top:90px;
}

.tex{
	font-family: $ssp;
	font-size: 20px;
	line-height:26px;	
}

.qs{
	padding-top:100px;
	.image{
		padding: 2% 0;
	}
	&:first-child{
		padding-top:140px;
	}
}

.fuet{
	padding-top:132px;
}

.pa-palab{
	margin: 15% 0;
}

/* -------------------- HOME -------------- */

.skrollr-body{
	background-color:$white;
}

/*menu*/

#menu-container{
	position:fixed;
	height:80px;
	background-color:$white;
	z-index:4;
	width:100%;
	top:0;
	z-index:99999999;
}

.animateddrawer.special span{
	opacity:1;
	@include transition-duration(700ms);
}

.animateddrawer.open span{
	opacity:0;
	@include transition-duration(200ms);
	width:36px;
}

.animateddrawer.open:before {
	 -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    top:13px;
	width:36px;
}

.animateddrawer.open:after{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    bottom:13px;
	width:36px;
}

.animateddrawer span{
	height: 0.2em;
	background:$black;
	opacity:1;
}

.animateddrawer-stay span{
	width: 36px;
	height: 0.2em; /* height of middle drawer line */
	background: black;
	position: absolute;
	left:0;
	opacity:0.7;
	top: 50%;
	right:-6px;
	margin-top: -0.1em;
}

.animateddrawer{
	@include transition-duration(200ms);
	z-index:49;
}

#search-icono{
	display:inline-block;
	position:relative;
	right:29%;
	height:28px;
}

#sf-btn{
	background-image:none;
	background:none;
	border:none;
	box-shadow:none;
	position:relative;
	top:3px;
	left:0;
	opacity:1;
	display:inline-block;
	&:focus{
		outline:none;
	}
}


.mover{
	left:50px !important;
	opacity:0 !important;
}
      

        .leg-not{
            display:none;
            text-align:left;
        }

        .legal{
            overflow:scroll;
            position:fixed !important;
            height:100%;
            width:682px !important;
            padding-bottom:500px;
            margin-left:15%;
        }

/* .modal-fullscreen SEARCH FORM */

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: $white;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}


/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

a svg {
  position: relative;
  display: inline-block;
}

.has-svg::after, button::after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}


#facebook::after{
	 content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}


object{
	z-index:-1;
}

.menu-logo{ 
	margin-top: 25px;
	margin-left:25px;
}

.menu-lines {
	margin:15px 26px 0 0;
	div{
	display:inline-block;
	margin: -15% 0;
	}
}

#close-icono{
	position:absolute;
	right:25px;
	top:25px;
	z-index:5;
}

#close-icono-stay{
	position:absolute;
	right:25px;
	top:25px;
	z-index:5;
	span{
		display:none;
	}
	&:before {
	 -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    top:13px;
	width:36px;
	}

	&:after{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    bottom:13px;
	width:36px;
	}
}

#back-icono{
	display:none;
	position:absolute;
	right:75px;
	top:25px;
}

.social-icons{
	display:none;
	position:absolute;
	top:25px;
	left:25px;
	z-index:6;
	text-align:left;
	width:15%;
	img{
		padding:15px;
	}
	li{
		display:inline-block;
		padding:0.35%;
		&:last-child{
			padding: 0.339%;
		}
	}
	a{
		padding: 0px 8px;
	}
}

.social-iconts{
	display:none;
	position:absolute;
	top:25px;
	left:25px;
	z-index:6;
	text-align:left;
	img{
		padding:15px;
	}
	li{
		display:inline-block;
		padding:0.35%;
		&:last-child{
			padding: 0.339%;
		}
	}
	a{
		padding: 0px 8px;
	}
	display:block;
}


.navcontent{
	display:table;
	margin: 0 -15px;
}

div.fullscreenmenu{
	background-color:$white !important;
}

.nav-menu {
	display:table-cell;
	vertical-align: middle;
	position:relative;
	bottom:6%;
	width:100%;
	li{
	border-bottom:0 !important;
	line-height: 1;
		a{
			font-family: $dala !important;
			font-size:100px;
			line-height:110px;
			@include stretchy(5px);
		}
	}
}

#under-menu{
	position:absolute;
	bottom:20px;
	box-shadow:none;
	border:none;
	background:none;
}

#um li{
	display:inline-block;
	font-family:$pt;
	font-size:16px;
	padding:2%;
	color: $black;
}

.hentry{
	border: 0;
	background-color:$white;

	header{
		border-bottom:0;
		padding-bottom:35px;
	}
	footer{
		border-top:0;
	}
}

#logo{
	font-family:$dala;
	font-size:45px;
	white-space: nowrap;
	text-align:center;
	padding-top:60px;
	padding-bottom:95px;
	margin:0 !important;
}

.main-logo{
	height:400px;
	width: 100%;
	display: table;
}

.main-logo::after{
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  background:$black;
  opacity:0.1;
  z-index:3;
}

.hashtag-wrap{
	background-color: transparent !important;
	display:table-cell;
	vertical-align:middle;
	a:hover{
		text-decoration: none;
	}
}

.hashtag{
	font-family:$dala;
	font-size:80px;
	text-align:center;
	color:white;
	width:585px;
	margin: 0 auto;
	overflow-wrap:break-word;
	z-index:4;
	&:hover{
		color:white;
		text-decoration: none;
	}
}

.landing{
	margin-bottom:10%;
}

#cursor{
	cursor: url(../images/down-arrow.png), auto;
}

.landings{
	height:100vh;
	padding-bottom:200px;
}


.imp .title-wrapper{
	position:relative;
	top:26px;
	z-index: 3;
	background:transparent !important;
}

.entry-title{
	text-align:center;
	font-family: $dala;
	margin: 40px auto 12px;
	background:none;
	width:55%;
	a{
		color:$black;
		font-size:30px;
		text-decoration:none;
		&:hover{
			color:$black;
			text-decoration:none;
		}
	}
}

.imp .entry-title{
	margin:2% auto 1%;
	width:100%;
	padding:0 24px;
	letter-spacing: 0.5px;
	a{
		font-size:55px;
		line-height: 50px;
		text-decoration: none;
		color:$black;
	}
}



.posts{
 padding-top:50px;
}

.post-wrapper{
	margin-top:2%;
}

.image-wrapper img{
	opacity: 0.8;
	@include transition-duration(400ms);
	height:auto;
	width:100%;
	&:hover{
		@include transition-duration(400ms);
		opacity:1;
	}
}

.image-wrapper{
	text-align:center;
}

.article-footer{
	text-align:center;
	padding:20px;
	a{
		font-family:$ssp;
		color:black;
		text-transform: capitalize;
		padding: 0.5% 2%;
		margin: 0 0.8%;
		border: 1px solid $black;
		@include border-radius(5px);
		@include transition-duration(500ms);
		&:hover{
			background-color:$black;
			color:$white;
			text-decoration: none;
			@include transition-duration(500ms); 
		}
	}
}

.single-foot{
	text-align:left;
	padding-top:35px;
	padding-bottom:150px;
}

.pagination{
	display:none !important;
}



/* ================= TAGS ===============*/

#main-tag{
	margin-top:12%;
}

.active-tag a{
	background-color:$black;
	color:$white;
}

.eliminate{
	text-transform:lowercase;
	padding-right:1%;
	object{
		padding-bottom:1px;
	}
}

.tags a{
	font-size:12px;
}

/* ================= SINGLE POST ===============*/

.d-5of7, .wrap{
	width:100%;
}

.single-title{
	font-family:$dala;
	font-size:55px;
	padding:3% 0;
}

.entry-content {
	padding-top:0;
	img{
		padding-bottom:35px;
		margin:0;
	}
	p{
	display:block;
	clear:both;
	font-family: $ssp;
	font-size:20px;
	padding:0;
	}
	blockquote{
		margin:0;
		padding:0;
		border: none;
		color:$black;
		p{
			&::before{
				content: "«";
				whitespace:nowrap;
			}
			&::after{
				content: "»";
			}
		}
	}
}

blockquote{
	border:none;
	padding:none;
	margin: 0;
	font-size:20px;
}

.single-post-wrapper{
	margin-top:60px;
	p{
		font-family:$pt;
		font-size:20px;
		line-height:26px;
		padding:0;
		margin-bottom:35px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.wp-post-image{
	max-height:80vh;
	width:100%;
	height:auto;
}



.navigation{
	padding:10% 0 5%;
}

.alignleft{
	float:left;
	clear:both;
	max-height:80vh;
	width:auto;
	position:relative;
	right: 14.5%;
}

.links{
	text-align:center;
	font-size: 100px;
    font-family: $dala;
    @include stretchy(5px);
    a{
    	color: $black;
    	text-decoration:none;
    	&:hover{
    		text-decoration:none;
    		color:$black;
    	}
    }
}





.grid-item { width: 200px; background-color:aqua; }
.grid-item--width2 { width: 400px; background-color:purple; }


#social-iconos{
	position:relative;
	left:60px;
	bottom:20px;
	visibility:hidden;
	z-index: 1;
	li{
		display:inline-block;
		padding:0 10px;
		left:40px;
		&:first-child{
			padding-left:10px;
		}
	}
}

#image{
	z-index:3;
}

.white-block{
	height:50px;
	width:100px;
	position:absolute;
	width:150px;
	top:-10px;
	left:-51px;
	z-index:2;
}

#comp-word{
	display:none;
	top:-3px;
	left:40px;
	position:absolute;
	font-size:12px;
	font-family: $ssp;
	color: rgba(133,133,133,1);
	z-index: 3;
	-webkit-transform: translateZ(0);
}

#obj{
	display:inline;
	padding-left:45px;
	-webkit-transform: translateZ(0);
}

#compartir{
	z-index:3;
	position:absolute;
}

#obj::after{
  position:absolute;
	content:'';
	top:0;
	left:50px;
	right:0;
	bottom:0;
	height:30px;
	width:50px;
}

.hers:hover #comp-word{
	display:block;
}

.hers:hover .soc{
	visibility:visible;
}

.hers:hover #compartir{
	display:none;
}

.hers{
	height:100px;
	width:200px;
	-webkit-backface-visibility: hidden;
	position:relative;
	top:10px;
}

/*============SEARCH PAGE =========*/


#s{
	height:110px;
	max-width:100%;
	font-size:100px;
	line-height:110px;
	font-family:$dala;
	color:$black;
	background-color:transparent;
	-webkit-transition:none;
}

#svert{
	
}

#searchsubmit{
	background-image:none;
	background:none;
	border:none;
	box-shadow:none;
	&:focus{
		outline:none;
	}
	& img{
		height:75px;
		width:auto;
	}
}

.eglass{
	padding:3% 0;
}

#sclose-icono {
	font-size: 10px; /* Base font size. Adjust this value to modify size of drawer icon */
	width: 3em;
	height: 2.8em;
	outline: none;
	display: block;
	background: rgba(250,250,250,1);
	z-index: auto;
	position:absolute;
	right:25px;
	top:25px;
	z-index:5;
}
#sclose-icono:before, #sclose-icono:after {
	position: absolute;
	content: '';
	display: block;
	width: 30px;
	height: 0.2em; /* height of top and bottom drawer line */
	background: black;
	top: 4px;
	left: 0;
	opacity: 0.7;
	-webkit-transition: all 200ms ease-in; /* set transition type and time */
	transition: all 200ms ease-in;
}

#sclose-icono:before{
		-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

#sclose-icono:hover:before{
	 -ms-transform: rotate(40deg); /* IE 9 */
	    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
	    transform: rotate(40deg);
}

#sclose-icono:after{
		 -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

#sclose-icono:hover:after{
	 -ms-transform: rotate(-40deg); /* IE 9 */
	    -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
	    transform: rotate(-40deg);
}

/*============LEGAL =========*/

.legal-row{
	padding-top:100px;
	text-align:center;
	font-family:$dala;
}

.legal{
	font-family:$dala;
}

.notes-title{
	font-size:80px;
	padding-bottom:40px;
}

.nlt{
	font-size:30px;
	line-height: 26px;
	margin-bottom:30px;
	margin-top:50px;
}

.nlit{
	font-style:italic;
	font-family: $pt;
	font-size:20px;
	line-height:26px;
	margin:25px 0;

}

.legal p{
	font-family: $pt;
	font-size:20px;
	line-height:26px;
}


/*============CONTACT=========*/


.contact-cont, .news-cont, .fourohfour, .no-res-cont, 
.conf-cont, .conf-news, .search-cont, .prod-cont{
	font-family:$dala;
	font-size:16px;
	display:table;
	height:100vh;
	input, textarea{
		font-family: $dala;
		max-width:100%;
		border:1px solid $black;
		background-color: $white;
		@include border-radius(0px);
		margin-bottom: 20px;
		line-height:37px;
		color:$black;
	}
	textarea{
		height:120px;
	}
	.align{
		display:table-cell;
		vertical-align: middle;
	}
	button{
		margin-bottom: 40px;
		&:focus{
			outline:none;
		}
	}
}

.contact-cont{
            display:none;
        }

        .news-cont{
            display:none;
        }

        .conf-cont, .conf-news {
        	display:none;
        	@include transition-duration(500ms);

    	}

.search-cont{
	margin:0 auto;
	input{
	border:none;
	}
}

.cent{
	text-align:center;
	p{
		margin-bottom: 0;
	}
}

.aq{
	margin-bottom:20px;
}

.cont-title, .news-title, {
	font-size:30px;
	padding-bottom:40px;
	margin:0;
}

.conf-title{
	margin: 0 -8px;
	padding-bottom:40px;
}

#cont-submit, #news-submit, #conf-accept, #conf-news{
	border:1px solid black;
	padding:-0.5% 6%;
	border-bottom:3px solid black;
	height:40px;
	width:165px;
	background-color:$white;
}

/*cHECKBOXES*/

#czech{
	margin-right:12px;
}

input[type="checkbox"]{
	display:none;
}

label{
	cursor:pointer;
	color:#555;
	margin-bottom:0 !important;
}

input[type="checkbox"] + label span{
	display:inline-block;
	vertical-align:middle;
	width:18px;
	height: 18px;
	background:url(../images/checkbox.png) 0px top no-repeat;
	margin-bottom:5px;
	margin-right:10px;
}

input[type="checkbox"]:checked + label span {
    background: url(../images/checkbox.png) 0px bottom no-repeat;
}


.accept{
	margin-bottom:17px;
}

.accept>*{
	display:inline-block;
}

.required::-webkit-input-placeholder:after {
    content:' *';
    color: rgba(243,160,171,1);
}
.required:-moz-placeholder:after {
    /* Firefox 18- */
    content:' *';
    color: rgba(243,160,171,1);
}
.required::-moz-placeholder:after {
    /* Firefox 19+ */
    content:' *';
    color: rgba(243,160,171,1);
}
.required:-ms-input-placeholder:after {
    content:' *';
    color: rgba(243,160,171,1);
}

input[type="text"], input[type="email"], input[type="tel"] {
  @include input-placeholder {
    color: $black;
  }
}

textarea {
  @include input-placeholder {
    color: $black;
  }
}


/*============404=========*/

#ups{
	font-size:80px;
}

.four-pad{
	margin-top:330px;
}


/*============seach NOT FOUND========*/

#nores{
	font-size:80px;
	line-height:56px;
	margin-top: 70px;
}

#has-searched{
	font-size:16px;
	line-height:22px;
	font-style:italic;
	margin-top: 10px;
}


/* PRODUCToRSSSS==============*/

.prod-cont{
	width:970px !important;
}

.productor{
	width:32% !important;
}

#prod-header{
	margin-top:100px;
	font-size: 80px;
	text-align:center;
	margin-bottom:100px;
	font-family: $dala;
}

.hover-elem{
	position:absolute;
	top:125px;
	left:102px;
	z-index:2;
	text-align:center;
	background-color: transparent !important;
	font-family: $ssp;
	opacity:0;
}

.productor:hover .hover-elem { 
 
	opacity:2;
}



.prod-entre{
	padding-top:15px;
	font-size: 12px;
	color:$black;
	&:visited{
		color:$black;
	}
}

.prod-imag{
	width:100%;
	height:auto;
}

.prod-arrow{
	margin-top:20px;
}

.arrow{
	padding-left:18px !important;
}

.prod-nem{
	font-size:35px;
	line-height:32px;
	width:85%;
	margin: 20px 0 8px;
}

.prod-emp{
	font-size: 17px;
	font-family:$pt;
	line-height:22px;
	font-style:italic;
	margin:0;
}

.prod-prof{
	font-family:$pt;
	line-height: 22px;
	font-size:16px;
	margin:0 0 30px 0;
}

/*MEDIA QUERIES=============*/


@media(max-width:767px){
	.links{
		font-size:80px;
	}

	.productor{
		left:25% !important;
	}

	.qs .image{
		padding:0 15px;
	}

}

@media (max-width: 991px) {
  
	.post-wrapper{
		width: 100%;
	}

	.links{
		font-size:80px;
	}


	.prod-cont{
		width:100% !important;
	}

	.productor{
		width:48% !important;
	}

	#image{
		padding:5% 0;
	}
}
